@charset "utf-8";
html {
  height: 100%;
}
body {
  font-family: 'Noto Serif JP', serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}
p, ul {
  margin: 0;
  padding: 0;
}
div, li {
  box-sizing: border-box;
}
.header_nav {
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Asegura que el header esté sobre otros elementos */
}

.global_nav_item {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.global_nav_item:hover {
  background: #fff;
  color: #42210b;
}
.global_nav {
  display: flex;
  align-items: stretch;
}
.logo {
  width: 120px;
  display: flex;
  align-items: center;
}
.logo img {
  width: 100%;
}
.section_inner {
  padding: 50px 10% 30px;
}
.key {
  height: 500px;
  background: center / cover no-repeat url("../Imagen/web_html_grammer-master/sample_key.jpg"); /* Ajusta la ruta si es necesario */
  font-family: 'Noto Serif JP', serif;
  font-weight: bold;
  display: flex;
  align-items: center; /* Centrar verticalmente */
  padding-left: 10%; /* Espacio a la izquierda */
}

.key div {
  display: flex;
  flex-direction: column; /* Organiza el título y el subtítulo en una columna */
  justify-content: center; /* Centra verticalmente dentro del contenedor */
}

.key h1 {
  font-size: 2.5rem;
  color: #000; /* Color negro para el título */
  margin: 0; /* Quita el margen */
}

.key p {
  color: #000; /* Color negro para el subtítulo */
  margin: 0; /* Quita el margen */
  margin-top: 10px; /* Espacio entre el título y el subtítulo */
}
.section_title {
  font-family: 'Noto Serif JP', serif;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;

}
.menu_title {
  display: inline-block;
  font-family: 'Noto Serif JP', serif;
  font-size: 1.5rem;
  color: #42210b;
  border-bottom: solid #42210b 1px;
  margin-bottom: 20px;
}
.center {
  text-align: center;
}
.concepto_content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.concepto_text {
  width: 60% /* Texto ocupa el 60% del ancho disponible */
}

.concepto_image {
  width: 35%; /* Imagen ocupa el 35% del ancho disponible */
  border-radius: 10px; /* Opcional: agregar bordes redondeados a las imágenes */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Opcional: sombra ligera para las imágenes */
}

.section_fondo {
  background: url('../Imagen/web_html_grammer-master/sample_menu_bg.jpg') center / cover fixed;
  padding: 45px 0; 
  width: 100%;
  height:100%; 
  display: block;
}
.recommended_menu {
  display: flex;
  justify-content: space-between; /* Distribuye los elementos uniformemente en el contenedor */
  flex-wrap: wrap; /* Permite que los elementos se envuelvan en filas */
}

.menu_item {
  width: 49%; /* Ancho fijo del 49% */
  margin-bottom: 20px; /* Espacio entre los elementos */
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.menu_content {
  display: flex;
  width: 100%; /* Asegura que el contenido ocupe todo el ancho del .menu_item */
}

.menu_image {
  width: 55%; /* Ancho fijo del 55% */
  max-height: 300px; /* Altura máxima deseada para la imagen */
  border-radius: 5px 0 0 5px; /* Bordes redondeados a la izquierda */
}

.menu_text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  flex: 1;
}

.menu_text h2 {
  margin: 10px 0;
  font-size: 1rem; /* Tamaño de la fuente para el texto */
}

.menu_text p {
  margin: 10px 0;
  font-size: 1rem; /* Tamaño de la fuente para el texto */
}
.menu_text p:last-of-type {
  align-self: flex-end;
  font-size: 1rem; /* Tamaño de la fuente para el texto */
  margin: 0;
}
.coffee_menu .center {
  text-align: center; /* Alinea el título al centro */
  margin-bottom: 50px; /* Espacio inferior */
}

.coffee_menu .menu_title {
  font-family: 'Noto Serif JP', serif;
  font-size: 1.5rem;
  color: #42210b;
  border-bottom: solid #42210b 1px;
  display: inline-block;
  padding-bottom: 10px;
  margin-bottom: 20px; /* Espacio inferior */
}

.coffee_menu_group {
  display: flex; /* Alinea elementos */
  flex-wrap: wrap;
  margin: 20px;
}

.coffee_menu_item {
  width: calc(49%); /* Ancho de cada elemento */
  background-color: #fff; /* Fondo blanco */ 
}

.coffee_menu_content {
  display: flex; /* Alinea contenido en fila */
  align-items: center; /* Centra verticalmente */
}

.coffee_menu_content img {
  display:flex ;
  width: 20%; /* Ancho de la imagen */
  height: 100px; /* Alto de la imagen */
  border-radius: 50%; /* Forma de círculo */
  justify-content: 80%; /* Espacio uniforme entre elementos */
  padding: 20px;
}
.menu_info{
  width: 80%;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
  background-color: #251e19;
  color: white;
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
  margin-top: 20px; /* Ajusta el margen superior */
}

footer nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

footer nav ul li {
  margin: 0 15px;
  display: flex;
  align-items: center;
}

footer nav ul li a {
  color: white;
  text-decoration: none;
}

footer nav ul li a:hover {
  text-decoration: underline;
}

footer p {
  margin: 10px 0 0;
}

footer img {
  height: 50px; /* Ajusta el tamaño del logo*/
}